
<%- include('../partials/header.ejs') %>
<nav class="navbar profileNav navbar-light bg-light">
    <a class="navbar-brand" href="/user/home">Blogger</a>
</nav>
<section class="d-flex justify-content-center align-item-center editProfile">
    <div class="edit-form-container">
        <form class="edit-form py-5">
            <h1>Edit Profile</h1>
            <br><br>
            <div class="form-group text-start">
                <label 
                        for="exampleInputPassword1"
                        style="padding-left: 20px;"
                    >
                    Email address
                </label>
                <input 
                    type="email" 
                    class="form-control" 
                    id="exampleInputEmail1" 
                    value="<%=user.email%>"
                    style="width: 20rem;"
                    disabled
                    >
                </div>
                <br>
                <div class="form-group text-start">
                    <label 
                        for="exampleInputPassword1"
                        style="padding-left: 20px;"
                    >
                    Username
                </label>
                    <input 
                    type="text" 
                    class="form-control" 
                    id="editEmail1" 
                    value="<%=user.username%>"
                    style="width: 20rem;"
                    >
                    <span id="editProfileUsernameErr"  style="padding-left: 20px; color: red; font-size: small;"></span>
                </div>
                <br>
                <div class="form-group text-start">
                    <label 
                        for="exampleInputPassword1"
                        style="padding-left: 20px;"
                    >
                    New Password
                </label>
                    <input 
                    type="password" 
                    class="form-control" 
                    id="editPassword" 
                    style="width: 20rem;"
                    placeholder="New Password">

                    <span id="editProfilePasswordErr"  style="padding-left: 20px; color: red; font-size: small;"></span>
                </div>
                <br>
                <div class="form-group text-start">
                    <label 
                        for="exampleInputPassword1" 
                        style="padding-left: 20px;"
                    >
                        Re-enter Password
                    </label>
                    <input 
                    type="password" 
                    class="form-control" 
                    id="editReEnterPassword1" 
                    style="width: 20rem;"
                    placeholder="Re-enter Password"
                    >
                    <span id="editProfileReEnterPasswordErr" style="padding-left: 20px; color: red; font-size: small;"></span>
                </div>
            <br>
            <button type="submit" id="editProfileSubmitBtn">Edit</button>
        </form>
    </div>
    <div class="d-flex flex-column justify-content-center align-items-center image-edit-container">
        <div class="d-flex position-relative profile-image-container" id="profile-image-container">
            <input 
                type="file" 
                class="profile-image-input" 
                id="profile-image-input" 
                style="height: 100%;" />
            <img 
                src="../../public/uploads/<%=user.image%>" 
                id="editProfileImg" 
                class="position-absolute top-0" 
                style="height: 100%; width: auto;" 
            />
        </div>
        <span id="editProfileImgErr" style="padding-left: 20px; color: red; font-size: small;"></span>
    </div>
</section>


<%- include('../partials/footer.ejs') %>
