<%- include('../partials/header.ejs') %>
<div class="homeDiv">

    <!-- model for comment -->
    <div class="homeModal mx-auto" id="homeModal">
       
    </div>


    <nav class="navbar navbar-expand-lg bg-body-tertiary p-0">
        <div class="container-fluid px-1 px-lg-4">
          <a class="navbar-brand"  href="https://blogger-1.onrender.com/user/home">Blogger</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="https://blogger-1.onrender.com/user/home">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://blogger-1.onrender.com/user/filterBlog/Fashion">Fashoin</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://blogger-1.onrender.com/user/filterBlog/Tech">Tech</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://blogger-1.onrender.com/user/filterBlog/Sports">Sports</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://blogger-1.onrender.com/user/filterBlog/Travel">Travel</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://blogger-1.onrender.com/user/filterBlog/News">News</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://blogger-1.onrender.com/user/profile">
                        <img src="../../public/images/user-person-profile-block-account-circle-svgrepo-com (1).png" alt="" srcset="" height="35px" width="35px">
                    </a>
                </li>
            </ul>
          </div>
        </div>
      </nav>
      <%if(blogs.length > 0){%>
        <% blogs.forEach( blog => { %>
            <section class="d-flex bannerDiv px-0 px-lg-5">
                <div class="bannerSubDiv1">
                    <article>
                        <p class="date"> 
                            <%= blog.createdAt.toLocaleDateString('en-GB',{
                                day: 'numeric', 
                                month: 'long', 
                                year: 'numeric' 
                            });%> 
                        </p>
                        <h3 style="font-weight: bold;" class="pb-3"><%= blog.title %></h3>
                        <p class="p-0 m-0 px-2">
                            <%= blog.description %>
                        </p>

                        <div class="d-flex justify-content-between">
                            <div class="likeAndComments">
                                <% if (blog.likes.includes(userId)) { %>
                                    <div class="large-font text-center">
                                        <svg class="svg-heart" data-like-blog-id="<%= blog._id %>" data-isliked="true"  data-like-user-id="<%= userId %>" xmlns="http://www.w3.org/2000/svg"  width="30" height="30" viewBox="0 0 512 512" fill="red">
                                            <path d="M47.6 300.4L228.3 469.1c7.5 7 17.4 10.9 27.7 10.9s20.2-3.9 27.7-10.9L464.4 300.4c30.4-28.3 47.6-68 47.6-109.5v-5.8c0-69.9-50.5-129.5-119.4-141C347 36.5 300.6 51.4 268 84L256 96 244 84c-32.6-32.6-79-47.5-124.6-39.9C50.5 55.6 0 115.2 0 185.1v5.8c0 41.5 17.2 81.2 47.6 109.5z"/>
                                        </svg>
                                    </div>
                                <% } else { %>
                                    <div class="large-font text-center">
                                        <svg class="svg-heart" data-like-blog-id="<%= blog._id %>" data-isliked="false"  data-like-user-id="<%= userId %>" xmlns="http://www.w3.org/2000/svg"  width="30" height="30" viewBox="0 0 512 512" fill="grey">
                                            <path d="M47.6 300.4L228.3 469.1c7.5 7 17.4 10.9 27.7 10.9s20.2-3.9 27.7-10.9L464.4 300.4c30.4-28.3 47.6-68 47.6-109.5v-5.8c0-69.9-50.5-129.5-119.4-141C347 36.5 300.6 51.4 268 84L256 96 244 84c-32.6-32.6-79-47.5-124.6-39.9C50.5 55.6 0 115.2 0 185.1v5.8c0 41.5 17.2 81.2 47.6 109.5z"/>
                                        </svg>
                                    </div>
                                <% } %>
                                
                                
                                <div class="commentDiv">
                                    <i class="fa-solid home-fa-comment-dots fa-comment-dots fa-2xl ml-2" style="color: grey;" data-blog-id="<%=blog._id%>"></i>
                                </div>


                                <div class="shareDiv" id="shareButton" >
                                    <svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" id="share" class="pt-1">
                                        <path d="m23.665 8.253-9-8A.998.998 0 0 0 13 1v3.207C9.996 5.013 0 8.765 0 23a1 1 0 0 0 1.928.371c2.965-7.413 8.745-8.96 11.071-9.283V17a1 1 0 0 0 1.666.747l9-8a1 1 0 0 0 0-1.494z"></path>
                                    </svg>
                                </div>
                            </div>
                            <%if(String(userId) != String(blog.user)){%>
                                <button class="view-author" id="viewAuthor" data-user-id="<%=blog.user%>">View Author</button>
                            <%}else{%>
                                <label class="userOwnBlogLabel">YOUR BLOG</label>
                            <%}%>
                        </div>

                        <% if (blog.likes.length > 0) { %>
                            <i>
                                <span style="font-size: smaller; color: rgba(0, 0, 0, 0.591);"><%=blog.likes.length %> users liked the blog</span>
                            </i>
                        <%}%>
                        <% if (blog.comments.length > 0) { %>
                            <i>
                                <span style="font-size: smaller; color: rgba(0, 0, 0, 0.591);"><%=blog.comments.length %> users commented on the blog</span>
                            </i>
                        <%}%>
                        
                    </article>
                </div>

                <div class="bannerSubDiv2" style="background-image: url(https://blogger-1.onrender.com/uploads/<%=user.image%>);"></div>
            </section>
        <%})}else{%>
            <section class="w-100 d-flex align-items-center justify-content-center" style="height: 100vh;">
                <div class="d-flex align-items-center justify-content-center">
                    <img src="/public/images/No data-rafiki.png" height="50%" width="50%" alt="" srcset="">
                </div>
            </section>
        <%}%>
      <!-- image gallery -->


    <a class="addBlogBtn" href="https://blogger-1.onrender.com/user/loadAddBlog">+</a>

</div>


<script src="/public/script/home.js"></script>
<%- include('../partials/footer.ejs') %>

    

 